# Ignore version control files
.git
.gitignore

# Ignore environment files (should be passed via Docker env vars)
.env*
src/cache/*

# Ignore node_modules if any JS dependencies are installed differently
node_modules

# Ignore build artifacts or logs if any
# build/
# logs/